body{
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    background-image: url(/home/sirargill/Downloads/challange/order-summary-component-main/images/pattern-background-desktop.svg);
}

.outer-most-box{
    /* position: absolute; */
    width: 450px;
    margin: 60px auto 0 auto;
    background-color: white;
    border-radius: 30px;
    height: 550px;
}

.paragraph{
    line-height: 1;
    font-weight: 500;
    
    color: hsl(224, 23%, 55%);
}

.heading{
    font-weight: 900;
    
}

.float{
    float: left;
    margin-left: 80px;
}

a{
    color: hsl(223, 47%, 23%);
    font-size: 12px;
    position: relative;
    left: 128px;
    bottom: 60px;
    font-weight: 900;
}
a:hover{
    color: hsl(245, 75%, 52%);
}

.price{
    color: hsl(224, 23%, 55%);
    position: relative;
    right: 100px;
    bottom: 10px;
}

.annual{
    position: relative;
    right: 100px;
}

.BUTTON_QUE {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 31px;
    font-weight: 200;
    padding: 10px 100px;
    background-color: #3D94F6;

    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: 500px;
 }
 
 .BUTTON_QUE:hover {
    background: #1E62D0;
    border: solid #337FED 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.cancel{
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    margin-top: 70px;
    position: absolute;
    left: 630px;
    bottom: 40px;
}

.image{
    border-radius: 15px 15px 0 0;
}

